{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    {% for row in news %}
        <h3>{{ row.title }}</h3>
        {#
        Hehre we can use
        https://github.com/bluetel/twig-truncate-extension#truncating-on-character-count
        or twitter bootsrap
        #}
        {{ row.body | striptags[:200] ~ '..' }}
        <a href="{{ path('news_view', {id: row.id}) }}">подробнее</a>
    {% endfor %}
{% endblock %}
