{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <h2>{{ news.title }}</h2>

    {% if news.image %}
        <img src="{{ news.image }}"/>
    {% endif %}

    {{ news.body | raw }}
    <br>
    <br>

    {{ news.authors | join(',') }}
    <br>

    {{ news.sourcePublished | date ('d-m-Y') }}
{% endblock %}
